$background-color-white: #ffffff;
$background-color-dark: #2b3844;
$text-color-white: #111517;
$text-color-dark: #ffffff;
$body-color-white: #fafafa;
$body-color-dark: #202c36;

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
