// --DARK MODE COLOR ASSIGNMENTS•
#body.dark-mode {
  animation: easein 0.4;
  header {
    background-color: $background-color-dark;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    .header-title,
    .toggle-button {
      color: $text-color-dark;
      &:hover {
        background-color: $body-color-dark;
      }
    }
  }
}
// --DARK-MODE END•

#body {
  display: block;
}
